<div class="well">
{{#link-to 'post' post.id}}<h3>{{post.title}}</h3>
<div class="row">
  <div class="col-sm-1">
    <img class="petit" src="http://www.iconarchive.com/download/i97930/flat-icons.com/flat/Cake.ico" alt="" />
  </div>
  <div class="col-sm-11">
    <p>{{post.teaser}}</p>
    <h5>{{post.user}}</h5>
  </div>
</div>
  {{/link-to}}
</div>
