<h1>Wondering what technologies were used to develop this fabulous app?</h1>
<h2>Wonder no more...</h2>
<h3>Technologies used to build this project include, but are not limited to the following:</h3>
<ul>
  <li><a href="https://git-scm.com/">GitHub</a></li>
  <li><a href="https://nodejs.org/">Node Project Manager</a></li>
  <li><a href="https://bower.io/">Bower</a></li>
  <li><a href="https://ember-cli.com/">Ember</a></li>
  <li><a href="http://www.ruby-lang.org/">Ruby</a></li>
  <li><a href="http://phantomjs.org/">JavaScript</a></li>
</ul>
